backend/node_modules/bcrypt/lib/binding/napi-v3/bcrypt_lib.node
# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
dist
.cache


# Node dependencies ok
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
